@charset "UTF-8";

// ちょっとピットページstylesheet

// components
// @use './components/sample-snippets';

// sections
@use './sections/about';
@use './sections/comment';
@use './sections/flow';
@use './sections/hero-img';
@use './sections/service';
@use './sections/wage';