<%#
  to-top
  TOPへ戻るボタン

  Accepts:
  - none

  Style:
  - common/to-top.css

  Script:
  - toTop.js
%>

<%# Usage: %>
<%# include(path + 'common/_to-top'); %>

<button type="button" id="js-toTop" class="to-top" aria-hidden="true" style="display: none;">
  <div class="to-top__icon"><img src="./img/icon-to-top.svg" alt=""></div>
  <span class="to-top__text">TOP</span>
</button>