	<!-- Start footer -->
	<footer class="js-footer footer">
		<div class="container">

			<!-- copyright -->
			<p class="footer__copyright"><small lang="en" class="ff-en">&copy;2022 LIBELUS.</small></p>

		</div>
	</footer>

	<!-- Start to-top -->
	<button type="button" id="js-toTop" class="to-top" aria-hidden="true">
		<span class="to-top__contents">TOP</span>
	</button>

	<!-- Start script -->
	<%- include('../common/_script', {path: path}); %>

</body>
</html>