	<footer class="footer">
	</footer>

	<!-- Start to-top -->
	<%- include(path + 'common/_to-top'); %>

	<!-- Start cta -->
	<%- include(path + 'components/_cta'); %>

	<!-- Start script -->
	<%- include('../common/_script', {path: path}); %>

</body>
</html>