@charset "UTF-8";
@use '../global' as *;

/* header
--------------------------------------------------*/
.header {
  height: $header-height;
  @include flexCenter(xy);
  @include atQuery(sm) {
    height: $header-height-sm;
  }
}

.header__logo {
  max-width: 292rem;
  margin: 0 auto;
}