@charset "UTF-8";
@use '../global' as *;

/* about
--------------------------------------------------*/
.about {
  background-color: #EAB624;
  position: relative;
  padding: 116rem 0 70rem;
  @include atQuery(sm) {
    padding: 250rem 0 60rem;
  }
}

.about__bg-text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 42.395833vw;
  width: 100%;
  @include atQuery(sm) {
    max-width: 566rem;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.about__title {
  text-align: center;
  padding-left: 20rem;
  position: relative;
  max-width: 374rem;
  width: 100%;
  display: block;
  margin: 0 auto;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 215rem;
    height: 215rem;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    @include atSpecifiedQuery(max, 480px) {
      width: 165rem;
      height: 165rem;
    }
  }

  img {
    position: relative;
  }
}

.about__text-wrapper {
  text-align: center;
}

.about__text {
  margin-top: 76rem;
  display: inline-block;
  text-align: left;
  max-width: 745rem;
}

