@charset "UTF-8";
@use '../global' as *;

/* company
--------------------------------------------------*/
.company {
  background-color: #DDDDDD;
  padding: 68rem 0 47rem;
  line-height: calcLineHeight(49, 28);
  @include atQuery(sm) {
    font-size: 28rem;
    padding: 74rem 0 30rem;
  }
}

.company__content {
  margin-top: 20rem;
  text-align: center;
  font-size: 30rem;
  line-height: calcLineHeight(52, 30);
  @include atQuery(sm) {
    font-size: 28rem;
    line-height: calcLineHeight(42, 24);
  }
}

.company__btn-wrapper {
  margin-top: 55rem;
  text-align: center;
}

.company__copyright {
  margin-top: 40rem;
  font-size: 18rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: .075em;
  @include atQuery(sm) {
    margin-top: 126rem;
    font-size: 28rem;
  }
}