@charset "UTF-8";
@use '../global' as *;

/* feature
--------------------------------------------------*/
.feature {
  padding: 38rem 0 96rem;
  @include atQuery(sm) {
    padding: 46rem 0 80rem;
  }
}

// title
.feature__title {
  font-size: 60rem;
  font-weight: 800;
  letter-spacing: -0.025em;
  line-height: 1;
  text-align: center;
  @include atQuery(sm) {
    font-size: 47rem;
    margin: 0 calc(50% - 50vw);
    width: 100vw;
  }

  img {
    max-width: 65rem;
    margin-left: -10rem;
    @include atQuery(sm) {
      max-width: 60rem;
    }
  }

  .text-sm {
    font-size: 48rem;
    margin-left: -20rem;
    @include atQuery(sm) {
      font-size: 38rem;
    }
  }
}

// trouble-solving
.feature__trouble-solving {
  margin-top: 10rem;
  @include flexAtQuery(md) {
    justify-content: center;
    align-items: flex-end;
  }
}

.feature__trouble-solving-img {
  max-width: 386rem;
  width: 100%;
  @include atQuery(sm) {
    text-align: center;
    max-width: 409rem;
    margin: 0 auto;
  }
}

.feature__trouble-solving-list {
  @include atQuery(md) {
    margin-left: 80rem;
  }
  @include atQuery(sm) {
    margin-top: 40rem;
    padding-left: 40rem;
  }
}

.feature__trouble-solving-item {
  font-size: 27rem;
  line-height: calcLineHeight(47, 27);
  position: relative;
  display: flex;
  align-items: center;
  @include atQuery(sm) {
    font-size: 33rem;
    line-height: calcLineHeight(58, 33);
  }

  .icon {
    max-width: 24rem;
    margin-right: 10rem;
  }
}

// up
.feature__up {
  margin-top: 36rem;
}

.feature__up-list {
  display: flex;
  @include atQuery(sm) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.feature__up-item {
  width: 33%;
  padding: 0 10rem;
  @include atQuery(sm) {
    width: 50%;
    margin-top: 20rem;
  }
}

.feature__up-title {
  font-size: 41rem;
  letter-spacing: .2em;
  line-height: 1;
  white-space: nowrap;
  @include atQuery(sm) {
    font-size: 35rem;
  }

  .emphasis {
    color: #E95736;
    font-size: 50rem;
    font-weight: 800;
    @include atQuery(sm) {
      font-size: 43rem;
    }
  }
}

.feature__up-text {
  font-size: 22rem;
  line-height: calcLineHeight(32, 22);
  margin-top: 28rem;
  @include atQuery(sm) {
    font-size: 20rem;
  }
}

// item
.feature__item {
  margin-top: 60rem;
}

.feature__item-title {
  font-size: 50rem;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  @include atQuery(sm) {
    font-size: 42rem;
  }
}

.feature__item-title-inner {
  display: inline-block;
  position: relative;

  &::before,
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 53rem;
    height: 1rem;
    background-color: #E95736;
  }

  &::before {
    left: -60rem;
    transform: translateY(-50%) rotate(70deg);
  }

  &::after {
    right: -60rem;
    transform: translateY(-50%) rotate(110deg);
  }
}

.feature__item-content {
  margin-top: 32rem;
  @include flexAtQuery(md) {}
}

.feature__item-img-wrapper {
  width: 100%;
  @include atQuery(md) {
    max-width: 367rem;
  }
  @include atQuery(sm) {
    display: flex;
    align-items: flex-end;
  }
}

.feature__item-img {
  max-width: 367rem;
  width: 100%;
}

.feature__item-merchant {
  padding-top: 24rem;
  @include atQuery(md) {
    margin-left: 30rem;
  }
}

.feature__item-merchant-text {
  font-size: 22rem;
  letter-spacing: -0.025em;
  line-height: calcLineHeight(39, 22);
}

.feature__item-merchant-img {
  max-width: 255rem;
  @include atQuery(md) {
    margin: 30rem auto 0;
  }
  @include atQuery(sm) {
    max-width: 215rem;
    width: 100%;
  }
}

.feature__item-footer-text {
  text-align: center;
  font-size: 22rem;
  letter-spacing: -0.025em;
  margin-top: 8rem;
  @include atQuery(sm) {
    font-size: 14rem;
  }
}

// btn
.feature__btn-wrapper {
  text-align: center;
  margin-top: 24rem;
  @include atQuery(sm) {
    margin-top: 40rem;
  }
}