@charset "UTF-8";
@use '../global' as *;

/* wage
--------------------------------------------------*/
.wage {
  background-color: #DDDDDD;
  position: relative;
  padding: 60rem 0 140rem;
  @include atQuery(sm) {
    padding: 36rem 0 80rem;
  }

  .section__title {
    @include atQuery(sm) {
      font-size: 44rem;
    }
  }
}

.wage__bg-text-wrapper {
  position: absolute;
  top: 25%;
  left: 50%;
  max-width: min(1033rem, 95%);
  width: 100%;
  transform: translateX(-50%);
  @include atQuery(sm) {
    max-width: 655rem;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.wage__content {
  margin-top: 38rem;
  position: relative;
  @include atQuery(sm) {
    margin-top: 24rem;
  }
}

.wage__sub-title {
  font-size: 38rem;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  @include atQuery(sm) {
    font-size: 31rem;
  }
}

.wage__table {
  max-width: 745rem;
  width: 100%;
  margin: 12rem auto 0;
  border-collapse: collapse;
  border: max(3.8rem, 3.8px) solid #131313;
  background-color: rgba($color: #FFFFFF, $alpha: .67);
  @include atQuery(sm) {
    margin: 16rem auto 0;
    border: 3.8rem solid #131313;
  }

  th,
  td {
    text-align: center;
    font-size: 32rem;
    font-weight: 500;
    line-height: calcLineHeight(56, 32);
    border-collapse: collapse;
    border: max(3.8rem, 3.8px) solid #131313;
    @include atQuery(sm) {
      font-size: 28rem;
      line-height: calcLineHeight(49, 28);
      border: 3.8rem solid #131313;
    }
  }
}

.wage__caution {
  margin-top: 30rem;
  font-size: 22rem;
  letter-spacing: -0.025em;
  line-height: calcLineHeight(39, 22);
  max-width: 930rem;
  margin: 0 auto;
  padding-left: 130rem;
  @include atQuery(sm) {
    font-size: 24rem;
    line-height: calcLineHeight(48, 24);
    padding-left: 20rem;
  }
}