<div class="about">
  <div class="container">

    <%# background text image %>
    <div class="about__bg-text-wrapper"><img src="./img/chotto-pit-bg-text.png" alt="ちょっとピット"></div>

    <%# title %>
    <h2 class="js-inview animation-fade-up about__title">
      <span>
        タイヤ交換の拡大で<br>
        さらなる顧客獲得へ。
      </span>
    </h2>

    <%# about content %>
    <div class="about__text-wrapper">
      <p class="js-inview animation-fade-up about__text" data-delay="500">
        ネット通販にてタイヤ・ホイールを購入される方が年々増加しております。<br>
        ネットで購入したお客様のニーズに応え、取り付け店をご紹介いたします。<br>
        お客様紹介料・加盟店費用・ロイヤリティ等は一切不要です。<br>
        近隣ユーザーの集客とネットユーザーの送客により、加盟店様の増収増益に繋がります。
      </p>
    </div>

  </div>
</div>