<div class="company">
  <div class="container">

    <%# title %>
    <h2 class="js-inview animation-fade-up section__title">会社概要</h2>

    <%# text %>
    <div class="js-inview animation-fade-up company__content" data-delay="300">
      <p class="company__text">株式会社オールドギア</p>
      <p class="company__text">〒591-8011<br class="for-sm">大阪府堺市北区南花田町61-3</p>
    </div>

    <%# link %>
    <div class="js-inview animation-fade-up company__btn-wrapper" data-delay="600">
      <a href="https://oldgear.co.jp/" class="common-btn _yellow" target="_blank" rel="noopener noreferrer">
        OLDGEAR　ホームページはこちら
      </a>
    </div>

    <%# copyright %>
    <p class="js-inview animation-fade-up company__copyright" lang="en" data-delay="600">&copy;2021 OLD GEAR</p>

  </div>
</div>