<div class="company">
  <div class="container">

    <%# title %>
    <h2 class="section__title">会社概要</h2>

    <%# text %>
    <div class="company__content">
      <p class="company__text">株式会社オールドギア</p>
      <p class="company__text">〒591-8011<br class="for-sm">大阪府堺市北区南花田町61-3</p>
    </div>

    <%# link %>
    <div class="company__btn-wrapper">
      <a href="https://oldgear.co.jp/" class="common-btn _yellow" target="_blank" rel="noopener noreferrer">
        OLDGEAR　ホームページはこちら
      </a>
    </div>

    <%# copyright %>
    <p class="company__copyright" lang="en">&copy;2021 OLD GEAR</p>

  </div>
</div>