<div class="comment" style="background-image: url(<%= path %>img/comment-bg.png);">
  <div class="container">

      <%# background text image %>
      <div class="comment__bg-text-wrapper"><img src="<%= path %>img/comment-bg-text.png" alt="COMMENT"></div>

      <%# title %>
      <h2 class="section__title">加盟店さまからのコメント</h2>

      <%# list %>
      <ul class="comment__list">

        <li class="comment__item">
          <div class="comment__thumb">
            <div class="img-wrap">
              <img src="<%= path %>img/comment1.jpg" alt="Store">
            </div>
            <span class="comment__label">加盟店</span>
          </div>
          <div class="comment__comment">
            <h3 class="comment__title">完全予約制で、新たなお客様との出会いにワクワクしています！</h3>
            <p class="comment__text">『ちょっとピット』を稼働してからの動きにワクワクしています！完全予約制なので、作業に追われることなく、お客様へのサービスに時間が使える為、効率が良くなると思い、加盟店契約をしました。</p>
            <p class="comment__merchant">福井県　グラート 様</p>
          </div>
        </li>

        <li class="comment__item">
          <div class="comment__thumb">
            <div class="img-wrap">
              <img src="<%= path %>img/comment2.jpg" alt="Store">
            </div>
            <span class="comment__label">加盟店</span>
          </div>
          <div class="comment__comment">
            <h3 class="comment__title">加盟店価格での仕入れや取扱商品が増えることが楽しみです。</h3>
            <p class="comment__text">
              オールドギア様のオリジナルブランド商品を取り扱える日を楽しみにしています。<br>
              『ちょっとピット』に加盟することで、取付サービス以外にオールドギア様サイトで商品を購入できるなど、多数の魅力を感じています。『ちょっとピット』の稼働が待ち遠しいです。
            </p>
            <p class="comment__merchant">鳥取県　B-RISE 様</p>
          </div>
        </li>

      </ul>

  </div>
</div>