<div class="flow">
  <div class="flow__bg-linear-gradient"></div>

  <div class="container">

    <%# title %>
    <h2 class="js-inview animation-fade-up section__title">加盟店の流れ</h2>

    <%# content %>
    <ul class="flow__list">

      <li class="js-inview animation-fade-up flow__item">
        <p class="flow__flow">1.加盟店申請をする</p>
        <p class="flow__text">専用フォームより加盟店申請。（規約や同意事項）</p>
      </li>

      <li class="js-inview animation-fade-up flow__item">
        <p class="flow__flow">2.審査</p>
        <p class="flow__text">弊社規定により審査を行います。</p>
      </li>

      <li class="js-inview animation-fade-up flow__item">
        <p class="flow__flow">３.加盟店登録</p>
        <p class="flow__text">審査通過後、ログイン方法のご案内を送付いたします。</p>
      </li>

      <li class="js-inview animation-fade-up flow__item">
        <p class="flow__flow">４.完了！</p>
      </li>

    </ul>

    <%# image %>
    <div class="js-inview animation-fade-up flow__img">
      <img src="./img/flow-img.png" alt="">
    </div>

  </div>
</div>