<div class="flow">
  <div class="flow__bg-linear-gradient"></div>

  <div class="container">

    <%# title %>
    <h2 class="js-inview animation-fade-up section__title">加盟店の流れ</h2>

    <%# content %>
    <ul class="flow__list">

      <li class="js-inview animation-fade-up flow__item" data-delay="200">
        <p class="flow__flow">1.加盟店申請をする</p>
        <p class="flow__text">専用フォームより加盟店申請。（規約や同意事項）</p>
      </li>
      <div class="js-inview animation-fade-up _flow-arrow flow__arrow" data-delay="400">
        <img src="./img/flow-arrow.png" alt="Arrow">
      </div>

      <li class="js-inview animation-fade-up flow__item" data-delay="600">
        <p class="flow__flow">2.審査</p>
        <p class="flow__text">弊社規定により審査を行います。</p>
      </li>
      <div class="js-inview animation-fade-up _flow-arrow flow__arrow" data-delay="800">
        <img src="./img/flow-arrow.png" alt="Arrow">
      </div>

      <li class="js-inview animation-fade-up flow__item" data-delay="1000">
        <p class="flow__flow">３.加盟店登録</p>
        <p class="flow__text">審査通過後、ログイン方法のご案内を送付いたします。</p>
      </li>
      <div class="js-inview animation-fade-up _flow-arrow flow__arrow" data-delay="1200">
        <img src="./img/flow-arrow.png" alt="Arrow">
      </div>

      <li class="js-inview animation-fade-up flow__item" data-delay="1400">
        <p class="flow__flow">４.完了！</p>
      </li>

    </ul>

    <%# image %>
    <div class="js-inview animation-fade-up flow__img">
      <img src="./img/flow-img.png" alt="">
    </div>

  </div>
</div>