<!-- Start hero-img -->
<div class="hero-img">
  <div class="img-wrap">
    <%- include(path + 'common/_picture', {
      path: path,
      imgName: 'hero-img',
      extension: 'jpg',
      alt: 'ちょっとピット CHOTTO PIT'
    }); %>
  </div>
  <div class="hero-img__title-img">
    <img src="<%= path %>img/chotto-pit.png" alt="ちょっとピット CHOTTO PIT タイヤで企業とお客様をつなぐお手伝いをするサービスです。">
  </div>
</div>