<div class="hero-img">
  <div class="js-inview animation-fade-in img-wrap" data-delay="500">
    <%- include(path + 'common/_picture', {
      path: path,
      imgName: 'hero-img',
      extension: 'jpg',
      alt: 'ちょっとピット CHOTTO PIT'
    }); %>
  </div>
  <div class="js-inview animation-fade-up-hero-img hero-img__title-img" data-delay="1000">
    <img src="./img/chotto-pit.png" alt="ちょっとピット CHOTTO PIT タイヤで企業とお客様をつなぐお手伝いをするサービスです。">
  </div>
</div>