<!-- Start hero-img -->
<div class="hero-img">
  <div class="img-wrap" style="padding-top: 47%;">
    <img src="<%= path %>img/hero-img.jpg" alt="ちょっとピット CHOTTO PIT">
  </div>
  <div class="hero-img__title-img">
    <img src="<%= path %>img/chotto-pit.png" alt="ちょっとピット CHOTTO PIT タイヤで企業とお客様をつなぐお手伝いをするサービスです。">
  </div>
</div>