<!-- Start hero-img -->
<div class="top__hero-img hero-img">
  <div class="img-wrap">
    <div class="img" style="background-image: url(<%= path %>img/<%= imgDir %>);"></div>
    <h1 class="hero-img__text cr-black"><%= text %></h1>
  </div>
</div>