<div class="wage">
  <div class="container _sm-lg">

    <%# background text image %>
    <div class="wage__bg-text-wrapper"><img src="<%= path %>img/chotto-pit-bg-text.png" alt="ちょっとピット"></div>

    <%# title %>
    <h2 class="js-inview animation-fade-up section__title">全国一律工賃（参考価格）</h2>

    <%# content %>
    <div class="wage__content-wrapper">

      <%# タイヤ交換 %>
      <div class="js-inview animation-fade-up wage__content">
        <h3 class="wage__sub-title">タイヤ交換</h3>
        <table class="wage__table">
          <tbody>
            <tr>
              <th>タイヤサイズ</th>
              <th>工賃（１本/税別）</th>
            </tr>
            <tr>
              <th>15インチ以下</th>
              <td>1,800</td>
            </tr>
            <tr>
              <th>16～18インチ</th>
              <td>2,200</td>
            </tr>
            <tr>
              <th>19～20インチ</th>
              <td>2,700</td>
            </tr>
          </tbody>
        </table>
      </div>

      <%# タイヤ・ホイールセット脱着 %>
      <div class="js-inview animation-fade-up wage__content">
        <h3 class="wage__sub-title">タイヤホイールセット脱着</h3>
        <table class="wage__table">
          <tbody>
            <tr>
              <th>車種</th>
              <th>工賃（１台/税別）</th>
            </tr>
            <tr>
              <th>軽自動車・普通車</th>
              <td>4,000</td>
            </tr>
            <tr>
              <th>SUV/ＲＶ車</th>
              <td>5,000</td>
            </tr>
          </tbody>
        </table>
      </div>

      <%# 注意書き %>
      <div class="js-inview animation-fade-up wage__caution">
        <p class="wage__caution-text">※タイヤ交換工賃は、脱着・組替・バランス調整込みの価格になります。</p>
        <p class="wage__caution-text">※タイヤ交換工賃には車体本体への脱着費用は含まれておりません。</p>
        <p class="wage__caution-text">※廃タイヤ費用は含まれておりません。</p>
        <p class="wage__caution-text">※タイヤホイールセット脱着とは、タイヤとホイールを組み込んだ状態のものを、車体本体から脱着する作業です。</p>
      </div>

    </div>

  </div>
</div>