@charset "UTF-8";
@use '../global' as *;

/* common-btn
--------------------------------------------------*/
.common-btn {
  font-size: 20rem;
  line-height: 1;
  padding: 40rem;
  max-width: 580rem;
  width: 100%;
  border-radius: 55rem;
  font-weight: 700;
  @include atQuery(sm) {
    font-size: 24rem;
  }

  // modifier background color
  &._yellow {
    background-color: #FFDB43;
  }
}