@charset "UTF-8";
@use '../global' as *;

/* section
--------------------------------------------------*/
.section {
  padding: 40rem 0;
  @include atQuery(sm) {
    padding: 20rem 0;
  }
}

.section__title {
  font-size: 50rem;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  margin-bottom: 30rem;
  position: relative;
  @include atQuery(sm) {
    font-size: 46rem;
  }
}