@charset "UTF-8";
@use '../global' as g;

/* section
--------------------------------------------------*/
.section {
  padding: 40rem 0;
  @include g.atQuery(sm) {
    padding: 20rem 0;
  }
}

.section__title {
  font-size: 50rem;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  margin-bottom: 30rem;
}