@charset "UTF-8";
@use '../global' as *;

/* to-top
--------------------------------------------------*/
.to-top {
  width: 140rem;
  height: 140rem;
  position: fixed;
  bottom: 24rem;
  right: 150rem;
  background-color: black;
  border: max(5rem, 5px) solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include atSpecifiedQuery(max, 1920px) {
    right: 100rem;
    bottom: 240rem;
  }
  @include atSpecifiedQuery(max, 1080px) {
    right: 50rem;
    bottom: 240rem;
  }
  @include atQuery(sm) {
    width: 110rem;
    height: 110rem;
    right: 16rem;
    bottom: 170rem;
  }
}

.to-top__icon {
  font-size: 0;
  max-width: 22rem;
  margin: 0 auto;
}

.to-top__text {
  color: white;
  font-size: 30rem;
  line-height: 1;
  font-weight: 700;
  margin-top: 14rem;
  display: inline-block;
  @include atQuery(sm) {
    font-size: 24rem;
  }
}